ul
each attendance in attendanceMgt  
  li #(attendance.studentName): #(attendance.studentEmail): #(attendance.studentContactNum): #(attendance.enrollmentDate): #(attendance.totalHrs): #(attendance.hrsAttended): #(attendance.today): #(attendance.present)